{{ 'custom-review-section.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-review-section.js' | asset_url }}" defer="defer"></script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>
<body>

  <div class="customer-review">
        <div class="review-title">
            <h3>Influencer Picks</h3>
        </div>
        <div class="slick-list">
            <div class="review-slide">
                <a href="https://www.instagram.com/p/CjpqT9wgtqJ/" target="_blank">
                    <img class="insta-reel-icon"
                        src="https://www.acnesquad.com/cdn/shop/files/instagram-reelacq_20x.png?v=1667307854"
                        alt="Instagram Icon" loading="lazy">
                </a>
                <video src="asstes/video1.mp4" muted controls preload="auto"
                    poster="https://www.acnesquad.com/cdn/shop/files/vlcsnap-2022-11-16-17h33m31s781_1_300x.png?v=1668601265">
                </video>
            </div>
            <div class="review-slide">
                <a href="https://www.instagram.com/p/Cjacju9J4gC/" target="_blank">
                    <img class="insta-reel-icon"
                        src="https://www.acnesquad.com/cdn/shop/files/instagram-reelacq_20x.png?v=1667307854"
                        alt="Instagram Icon" loading="lazy">
                </a>
                <video src="asstes/video2.mp4" muted controls
                    poster="https://www.acnesquad.com/cdn/shop/files/vlcsnap-2022-11-16-17h34m35s044_2_300x.png?v=1668601511">
                </video>
            </div>
            <div class="review-slide">
                <a href="https://www.instagram.com/p/CjAfx5jqy2w/" target="_blank">
                    <img class="insta-reel-icon"
                        src="https://www.acnesquad.com/cdn/shop/files/instagram-reelacq_20x.png?v=1667307854"
                        alt="Instagram Icon" loading="lazy">
                </a>
                <video src="asstes/video3.mp4" muted controls
                    poster="https://www.acnesquad.com/cdn/shop/files/vlcsnap-2022-11-16-17h36m48s744_3_300x.png?v=1668601608">
                </video>
            </div>
            <div class="review-slide">
                <a href="https://www.instagram.com/p/CjnV6ODA6NB/" target="_blank">
                    <img class="insta-reel-icon"
                        src="https://www.acnesquad.com/cdn/shop/files/instagram-reelacq_20x.png?v=1667307854"
                        alt="Instagram Icon" loading="lazy">
                </a>
                <video src="asstes/video4.mp4" muted controls
                    poster="https://www.acnesquad.com/cdn/shop/files/vlcsnap-2022-11-16-17h37m40s927_4_300x.png?v=1668601670">
                </video>
            </div>
            <div class="review-slide">
                <a href="https://www.instagram.com/p/CkieNd3g4Zb/" target="_blank">
                    <img class="insta-reel-icon"
                        src="https://www.acnesquad.com/cdn/shop/files/instagram-reelacq_20x.png?v=1667307854"
                        alt="Instagram Icon" loading="lazy">
                </a>
                <video src="asstes/video5.mp4" muted controls
                    poster="https://www.acnesquad.com/cdn/shop/files/vlcsnap-2022-11-16-17h38m44s241_5_300x.png?v=1668601836">
                </video>
            </div>
            <div class="review-slide">
                <a href="https://www.instagram.com/p/CjQAQUhgVgR/" target="_blank">
                    <img class="insta-reel-icon"
                        src="https://www.acnesquad.com/cdn/shop/files/instagram-reelacq_20x.png?v=1667307854"
                        alt="Instagram Icon" loading="lazy">
                </a>
                <video src="asstes/video6.mp4" muted controls
                    poster="https://www.acnesquad.com/cdn/shop/files/vlcsnap-2022-11-16-17h39m10s958_6_300x.png?v=1668601933">
                </video>
            </div>
            <div class="review-slide">
                <a href="https://www.instagram.com/p/CkieNd3g4Zb/" target="_blank">
                    <img class="insta-reel-icon"
                        src="https://www.acnesquad.com/cdn/shop/files/instagram-reelacq_20x.png?v=1667307854"
                        alt="Instagram Icon" loading="lazy">
                </a>
                <video src="asstes/video7.mp4" muted controls
                    poster="https://www.acnesquad.com/cdn/shop/files/vlcsnap-2022-11-16-17h39m51s864_7_300x.png?v=1668602011">
                </video>
            </div>
        </div>
        <div class="slide-dots"></div>
    </div>


</body>
{% schema %}
  {
    "name": "Custom Review Section",
    "settings": [],
    "presets": [
      { 
      "name": "Custom Review Section"
      }
    ]
    
  }
{% endschema %}
