<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>

<div class="slider" style="text-align: {{ section.settings.text_position }}">
  <div class="slider-cstm1 text">
    <p>{{ section.settings.announce1 }}</p>
  </div>

  <div class="slider-cstm1 text">
    <p>{{ section.settings.announce2 }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Custom Announcement Bar",
  "settings": [
    {
      "type":"text",
      "id":"announce1",
      "label":"Choose your text1"
    },
      {
      "type":"text",
      "id":"announce2",
      "label":"Choose your text2"
    },
    {
    "type": "select",
    "id": "text_position",
    "label": "Text Alignment",
    "options": [
    {
      "value": "left",
      "label": "Left"
    },
      {
        "value": "right",
        "label": "Right"
      },
    {
    "value": "center",
    "label": "Center"
  }
],
"default": "center"
  }
  ],
  "presets":[
    {
      "name":"Custom Announcement Bar"
    }
  ]
}
{% endschema %}
<style>
       .slider {
          background-color:  #a99ef6;
          color: white;
          position: relative;
      }

  p{
    height: 30px;
    width: 100%;
    display: inline-block;
  }
</style>

<script>
  $(".slider").slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         vertical:true,
         verticalSwiping:true,
         arrows: false,
         swipeToSlide: true,
         focusOnSelect: true,
         autoplay: true,
         autoplaySpeed: 1000,
         infinite: true,
     });
</script>
